<div class="page-layout blank" id="adminforms-wrapper">
   <!-- form content/-->
    <div class="admin-content">
        <div class="admin-main-wrapper">
            <mat-expansion-panel [expanded]="true" [disabled]="true">

                <!-- main panal-title -->
                <mat-expansion-panel-header class="panelHeader">
                    <mat-panel-title class="main-tille">
                        <div fxLayout="row" fxLayout.md="row" fxLayout.xs="column" fxFlex>
                            <div fxFlex="50" fxLayoutAlign="center start" fxLayout="column" fxLayoutAlign.xs="center center">
                              Loreum Ipsum
                            </div>
                            <div fxFlex="50" fxLayoutAlign="center end" fxLayout="column" fxLayoutAlign.xs="center center">
                              <button mat-button class="user-button exp-button" (click)="openTop()">
                                <div fxLayout="row" class="cwhite font13" fxLayoutAlign="center center">
                                   <mat-icon class="s-16 mr-12">add_circle_outline</mat-icon>
                                    <span class="username">Loreum Ipsum</span>
                                    
                                </div>
                               </button>
                            </div>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- end title -->
                <!-- main form-start -->

                <div class="admin-main-form mr-tb5  m-pad1">
                    <div fxLayout="row" fxLayout.md="row" fxLayout.xs="column">
                    	<div fxFlex="100" fxLayoutAlign="center center" [fxLayout]="'row'" fxLayoutAlign.xs="center center">

           <!-- table --->
<table mat-table [dataSource]="dataSource" >
  <!-- Item Column -->
  <ng-container matColumnDef="th1">
    <th mat-header-cell *matHeaderCellDef>Loreum Ipsum</th>
    <td mat-cell *matCellDef="let transaction" data-label="Loreum Ipsum"> {{transaction.th1}} </td>
   
  </ng-container>

  <!-- Cost Column -->
  <ng-container matColumnDef="th2">
    <th mat-header-cell *matHeaderCellDef>Loreum Ipsum</th>
    <td mat-cell *matCellDef="let transaction" data-label="Loreum Ipsum"> {{transaction.th2}} </td>
    
  </ng-container>

  <ng-container matColumnDef="th3">
    <th mat-header-cell *matHeaderCellDef>Loreum Ipsum</th>
    <td mat-cell *matCellDef="let transaction" data-label="Loreum Ipsum"> {{transaction.th3}} </td>
    
  </ng-container>
<ng-container matColumnDef="th4">
    <th mat-header-cell *matHeaderCellDef>Loreum Ipsum</th>
    <td mat-cell *matCellDef="let transaction" data-label="Loreum Ipsum">
       {{transaction.th4}} 
    </td>
    
  </ng-container>

  <ng-container matColumnDef="th5">
    <th mat-header-cell *matHeaderCellDef>Loreum Ipsum</th>
    <td mat-cell *matCellDef="let transaction" data-label="Loreum Ipsum">
       {{transaction.th5}} 
    </td>
    
  </ng-container>
  <ng-container matColumnDef="th6">
    <th mat-header-cell *matHeaderCellDef class="wi150px">Action</th>
    <td mat-cell *matCellDef="let transaction" data-label="Loreum Ipsum">

      <button mat-button class="user-button btnedit mr-br mr-r1" (click)="openEdit()">
        
           <mat-icon class="s-16">border_color</mat-icon>
        
      </button>
      <button mat-button class="user-button btndelete mr-br mr-r1" (click)="openDelete()">
       
           <mat-icon class="s-16">delete</mat-icon>
          
      </button>
     
    </td>
    
  </ng-container>

  <!-- Item Description Column -->
  <ng-container matColumnDef="item-no">
    <th mat-header-cell *matHeaderCellDef> 
      <div class="admin-form-controll pad-r10">
        <mat-form-field>
          <mat-select placeholder="Select">
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field> 
       </div>
    </th>
  </ng-container>

  <!-- Cost Description Column -->
  <ng-container matColumnDef="item-table">
    
    <th mat-header-cell *matHeaderCellDef colspan="4"> 
            <div class="admin-form-controll pad-r10">
                <mat-form-field>
                    <input matInput placeholder="Input">
                </mat-form-field> 
            </div>
      </th>
    
  </ng-container>




  <!-- The table will render two header rows, one data row per data object, and two footer rows. -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"
      class="first-header-row">
  </tr>
  
  <tr mat-header-row *matHeaderRowDef="['item-no', 'item-table']"
      class="second-header-row">
  </tr>

  <tr mat-row *matRowDef="let row; columns: displayedColumns;"  class="table-content-row"></tr>


</table>

           <!-- table-->

        </div>

                    </div>
                </div>
                <!-- main form-end -->
            
            </mat-expansion-panel>
        </div>

    </div><!-- form content/-->

    <!-- admin pagination-->
<div class="admin-pagination">
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px" class="bgs">
        <div fxFlex="100" fxLayoutAlign="end center" [fxLayout]="'row wrap'" fxLayoutAlign.xs="center center">
           <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
</div><!-- admin pagination-->

<!-- form footer-->
<div class="admin-footer">
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px" class="bgs">
		<div fxFlex="100" fxLayoutAlign="end center" [fxLayout]="'row wrap'" fxLayoutAlign.xs="center center">

       <button mat-button class="user-button btngray mr-br mr-r1 mbl-mr-tb" (click)="btnClickhome()">
        <div fxLayout="row" class="cwhite font13" fxLayoutAlign="center center">
           <mat-icon class="s-16 mr-12">clear</mat-icon>
            <span class="username">Loreum Ipsum</span>
            
        </div>
       </button>

		</div>
	</div>
</div><!-- form footer /-->



    <div >

    </div>
</div>



