<div id="admin-wrapper">
  <div fxLayout="row" fxLayoutGap="2%">
        <div fxFlex="93%">
          <h2 mat-dialog-title class="fwt100">Loreum Ipsum</h2>
        </div>
        <div fxFlex="5%">
          <mat-dialog-actions>
            <button mat-dialog-close class="close-btn">
              <mat-icon class="s-16 mr-5">close</mat-icon>
            </button>
          </mat-dialog-actions>
        </div>
    </div>

  <mat-divider></mat-divider>

  <mat-dialog-content>
    <div class="admin-content mr-t2">
        <div class="admin-main-wrapper admin-upload">
            
                <!-- end title -->
              
           

                 <!-- main form-start -->
                <div class="admin-main-form  m-pad1 mr-b2">
                    <div fxLayout="row" fxLayout.md="row" fxLayout.xs="column">
                      <div fxFlex = "100" fxLayoutAlign="start center">
                        <mat-label><b>Loreum Ipsum</b></mat-label>
                      </div>
                       
                    </div>
                </div>
                <!-- main form-end -->
            
        </div>

    </div>

    <mat-divider></mat-divider>
    <div class="admin-footer">
            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px" class="bgs">

            <div fxFlex="100" fxLayoutAlign="end center" fxLayoutAlign.xs="center center" [fxLayout]="'row wrap'">

               

                          <button mat-button class="user-button btnyellow mr-br mr-r1 mbl-mr-tb" (click)="onNoClick()">
                          <div fxLayout="row" class="cwhite font13" fxLayoutAlign="center center">
                             <mat-icon class="s-16 mr-12">clear</mat-icon>
                              <span class="username mr-12" fxShow.gt-sm>Loreum Ipsum</span>
                              
                          </div>
                         </button>
                         
                        <button mat-button class="user-button btnblue mr-br mr-r1 mbl-mr-tb">
                          <div fxLayout="row" class="cwhite font13" fxLayoutAlign="center center">
                             <mat-icon class="s-16 mr-12">done</mat-icon>
                              <span class="username mr-12" fxShow.gt-sm>Loreum Ipsum</span>
                          </div>
                         </button>

            </div>

         </div>
        </div>
      </mat-dialog-content>
</div>