<div class="sample-modal-wrapper">
  <div class="sample-modal-header">
    <div fxLayout="row" fxLayoutGap="2%">
      <div fxFlex="93%">
        <h2 mat-dialog-title>Confirm</h2>
      </div>
      <div fxFlex="5%">
        <mat-dialog-actions>
          <button mat-dialog-close>
            <mat-icon class="s-16 mr-5">close</mat-icon>
          </button>
        </mat-dialog-actions>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>

  <div class="sample-modal-content">
    <mat-dialog-content>
      <div class="sample-main-remove-dialog">
        <!-- form row Cooupons remove -->
        <div fxLayout="row" fxLayout.md="row" fxLayout.xs="column" fxLayout.sm="column">
          <div fxFlex="100%">
            <P>Are you Sure to Delete this Coupon ? Task Cannot Undo</P>
          </div>
        </div>
      </div>

      <mat-divider></mat-divider>
      <div class="main-remove-buttons">
        <div fxLayout="row" fxLayout.md="row" fxLayout.xs="column">
          <div fxFlex="100%">
              <div class="sub-button-option-row">
                <button mat-raised-button id="btnSave" color="primary">
                  <mat-icon>close</mat-icon> No</button>
                <button mat-raised-button id="btnClear" color="warn">
                  <mat-icon>check</mat-icon> Yes</button>
              </div>
          </div>
        </div>
      </div>
    </mat-dialog-content>
  </div>
</div>