:host{

    .page-layout{
        margin:2rem 1rem 2rem 1rem;
        position: relative;
        overflow-x: initial;
        overflow-y: initial;
       .pd-5
       {
       	 padding:5px;
       }
       .pd-20
       {
       	padding:20px;
       }
       .mr-tb-20
       {
        margin-top:1rem;
        margin-bottom:1rem;
       }
    } 
}